{
    "printWidth": 80,
    "tabWidth": 4,
    "trailingComma": "all",
    "singleQuote": false,
    "semi": true,
    "importOrder": [
        "^(react|next?/?([a-zA-Z/]*))$",
        "<THIRD_PARTY_MODULES>",
        "^@/providers(.*)$",
        "^@/hooks(.*)$",
        "^@/lib(.*)$",
        "^@/components(.*)$",
        "^@/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "plugins": [
        "@trivago/prettier-plugin-sort-imports",
        "prettier-plugin-tailwindcss"
    ]
}
